---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'mills';
const description =
	"mills is going dark for a bit… he's busy hacking shit and celebrating those six simple words.";
const contactEmail = 'hi@millsymills.com';
---

<BaseLayout
	title={title}
	description={description}
	canonical="https://millsymills.com/"
>
	<h1>{title}</h1>
	<p>{description}</p>
	<p>
		<a class="cta" href={`mailto:${contactEmail}?subject=convince%20me`}
			>try to convince him &rarr;</a
		>
	</p>
</BaseLayout>
